#checkbox {
   margin: 12% 0% 0% 38%;
}
.switchboard1 {
  width: 400px;
  height: 400px;
  background-color: #f80909;
  margin: 2% 0% 0% 38%;
}
.switch1 {
  margin: 42% 0% 0% 40%;
  padding: 7% 7% 7% 7%;
  background: #fffd3d;
}
#status, #hello {
  margin: 2% 0% 0% 38%;
}
#rows {
  margin: -26% 0% 0% 64%;
  width: 200px;
  height: 20px;
  list-style: none;
}
.even {
  background-color: #220909;
}
.odd {
  background-color:#9f9494;
}
.gray{
  background-color: #9f9494;
}
.green{
  background-color: #2b7638;
}
.black{
  background-color:  #220909;
}
#dropbox {
  margin: 7% 0% 0% 66%;
  border-style: groove;
  width: 200px;
  height: 20px;
  padding: 0% 0% 10% 0%;
  list-style: none;
}