
.head
{
  background-color: orange;
  height: 130px;
  position: fixed;
  width: 100%;
}
/*.img{
	   margin: 1% 0% 0% 2%;
      position: fixed;

}*/
.link1
{
	  margin: -3% 0% 6% 86%;
    background-color: beige;
    padding: 1%;
    position: fixed;
}
.banner
{
  background-image: url("../imgs/bg1.jpeg");
  background-size: cover;
  height: 300px;
  margin: 11% 0% 0% 0%
}
.bg
{

/*	display: inline-grid;
    position: absolute;*/
    background: turquoise;
    margin: 0px 0px 500px 1400px;
    /*margin: 10px  0px*/
    text-align: center;
}
.par_chi
{
	display: inline-flex;
	/*padding: 2% 3% 3% 18%;*/
  height: 360px;
  width: 400px;
}

#p1,#p2,#p3
{
	width:400px;
 	height:300px;
 	background-color: yellowgreen;
 	text-decoration-color: white;
  margin: 12px 60px;
  padding: 30px;


}

#c11,#c21,#c31
{
  width:300px;
  height:250px;
  position:absolute;
  background-color: whitesmoke;
  margin: -15% 23% 27% 7%;


}
#c12
{
	width:100px;
    height:100px;
	background-color: black;
	position:relative;
	margin: -35% 38% 27% 27%;
  left: 60px;


}
#c22
{
	width:100px;
    height:100px;
	background-color: black;
	position:relative;
	/*//margin:-98% 1% 14% 31%*/
    margin: -55% 38% 27% 27%;
  left: 80px;

}
#c32
{
	width:100px;
  height:100px;
	background-color: black;
	position:relative;
	/*margin:-99% 0% 0% 59%;*/
    margin: -56% 38% 27% 27%;
  left: 200px;

}
.footer
{
	padding: 0% 32% 2% 56%
	background-color: gray;
	display: inline-block;
  display: block;
  margin: 20px 0px 0px 0px;
}
.link2
{

	margin: -6%8%0%80%;
}
.footer
{
  padding-top:2%;
  background-color: gray;
}
.p
{
  margin: -2% 0% 2% 87%
}
.link2
{
      margin: -2% 1% 1% 40%;
}