.head{
  background-color: orange;
  height: 130px;
  position: fixed;
  width: 100%;
}
.link1{
    position: absolute;
    margin: -5% 2% 2% 93%;
    background-color: #ccc;
}
.head img{
  margin: -2% 2% 2% 2%;
}
.banner{
  padding: 8% 0% 0% 0%;
}
.bg{

  background: turquoise;
  margin: -9% 2% 1% 80%;
}
.par_chi{
  display: inline-flex;
  height: 360px;
  width: 400px;
  margin: 2% 0% 0% 0%
}
#p1,#p2,#p3{
  width:400px;
  height:300px;
  background-color: yellowgreen;
  text-decoration-color: white;
  margin: 12px 60px;
  padding: 30px;
}

#c11,#c21,#c31{
  width:300px;
  height:250px;
  position:absolute;
  background-color: whitesmoke;
  margin: -15% 23% 27% 7%;
}
#c12{
  width:100px;
  height:100px;
  background-color: black;
  position:relative;
  margin: -35% 38% 27% 27%;
  left: 60px;
}
#c22{
  width:100px;
  height:100px;
  background-color: black;
  position:relative;
  margin: -55% 38% 27% 27%;
  left: 80px;
}
#c32{
  width:100px;
  height:100px;
  background-color: black;
  position:relative;
  margin: -56% 38% 27% 27%;
  left: 200px;
}
.footer{
  padding: 0% 32% 2% 56%
  background-color: gray;
  display: inline-block;
  display: block;
  margin: 20px 0px 0px 0px;
}
.link2{
  margin: -6%8%0%80%;
}
.footer{
  padding-top:2%;
  background-color: gray;
}
.p{
  margin: -2% 0% 2% 87%
}
.link2{
  margin: -2% 1% 1% 40%;
}