.a
{
	margin-bottom: 7%;
}
.b
{
	text-align: right;
	background-color: black;
	text-decoration-color: blue;
	float: right;
	display: inline-block;

}
.c{
	background-color: gray;
	padding-top: 5%;
	
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.p {
  text-align: justify;
  margin: 0% 30%;

}
.e{
	background-color: blue;
    display:inline-block;
    padding:0% 1%;
}
.f
{   
	padding-top:2%; 
	background-color: gray;
}
.pp
{
	margin: -4% 3% 3%;
}
.hr
{
	margin: -6%8%0%80%;
}