 #switchboard {
 width: 400;height: 400;
 margin: 2% 0% 0% 25%;
 }
 .switchboard1{
     background-color: red;
 }
 button{
   margin: 41% 0% 0% 41%;

   padding: 5% 5% 5% 5%;
 }
#checkbox{
  margin: 12% 0% 0% 25%;
}
#status,#hello{
    margin: 0% 0% 0% 25%;
}
.switch1 {
background-color: yellow;
}
.even {
  background-color: black;
}
.odd {
  background-color: gray;
}
#rows {
   margin: -23% 0% 0% 49%;
   width: 200px;
  height: 20px;
}

