.logo {
  margin-top: 8px;
}
.headerbar {
  background-color: #7f4141cc;
  height: 70px;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.site-name {
    margin: 0% 0% 0% 37%;
}
.headerbar amp-img {
  padding: 1% 1% 0% 1%;
    margin: 0% 0% 0% 1%;
}
.sidebar {
  margin: 0% 0% 0% 25%;
}
.coursel
{
  padding: 31% 0% 0% 0%;
}
.hamburger {
  padding-left: 10px;
}
.sidebar {
  padding: 10px;
  margin: 0;
}
.sidebar li {
  list-style: none;
  margin-bottom:10px;
}
.sidebar a {
  text-decoration: none;
}
.close-sidebar {
  font-size: 1.5em;
  padding-left: 5px;
}
.header-second{
  display: block;
  margin: -19% 0% 2% 0%;
}
.block{
  background-color: #a67fab;
  position: relative;
}
.block amp-img
{
  margin: 6% 5% 0% 9%
}
.child
{
  margin: 2% 6% 3% 17%;
}
.footer1{
  display: block;
 justify-content: space-between;
  margin: 2% 0% 0% 0%;
}
.footer1 ul{
  width: 93%;
  background-color: #686d3e;
  margin: 0% 4% 0% 0%;
}
